body{
	margin: 0;
	font-family: "Lucida Console";
	background-image: url("../images/background.jpg");
	/*background-color: red;*/
	background-size: 100%;
	background-repeat: no repeat;
}

#login, #register-top{
	background-color: #34495e;
    height: 270px;
    text-align: center;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#login img{
	padding: 5px;
	height: 90px;
}

#logintext{
	color:white;
	margin-top: 0;
}

#forgotten{
	color:white;
	font-size:xx-small;
}

/* Editing profile */
#profile_window input {
	display: none;
}

.profile-editing {
	display: none;
}

/*removing 'no file selceted'*/
input[type='file'] {
  color: transparent;
}
#filetoUpload{
	width:80px;
}

#preview{
	width:80px;
	height:80px;
	border-style: solid;
	border-width: 1px;
	position:absolute;
	margin-left: 550px;
	margin-top: 60px;
}

#upload-reg{
	position: absolute;
	margin-left: 385px;
	margin-top: 150px;
}

#up-button{
	margin-left: 160px;
}

#register-top{
	height:300px;
}

/*#register{
	margin-top: 120px;
}*/

img#login-icon{
	width:80px;
	height:80px;
	padding:15px; 
}

#register-icon{
	height:80px;
	padding:5px;
}

/*profile edit page*/
#profile-picture{
	height:100px;
	width:100px;
	border-style: solid;
	border-width: 1px;
	margin-top: 60px;
	margin-left: 60px;
	position: absolute;
}

#personalinfo{
	width:300px;
	position: absolute;
/*	margin-top: 30px;*/
	margin-left: 190px;
}

#lucida{
	font-family: Lucida Grande;
}

#taskleiste{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background-color: #34495e;
}

#taskleiste img{
	padding: 5px;
	height: 40px;
	float: left;
}

#image-logout {
	width: 20px;
}

#taskmenu {
	width: 250px;
	height: 400px;
	/*background-color: #E8C60C;*/
	background-color: #34495e;
	position: absolute;
	bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	display: none;
}

#taskmenucontent{
	background-color: white;
	width: 100%;
	height: 100%;
	padding: 5px;
}

#taskmenucontent p{
	margin: 0;
	padding-top: 16px;
	padding-bottom: 16px;
}

#taskmenucontent p:hover{
	background-color: rgba(0,0,0,0.2);
	border-radius: 5px;
}

#taskmenu h2{
	color: white;
}

.desktopicon {
	width: 70px;
	margin: 20px;
	color: white;

	text-align: center;
}

.desktopicon img{
	height: 60px;
	margin-bottom: 10px;
	text-align: center;
}

.window{
	/*background-color: #E8C60C;*/
	background-color: #34495e;
	width: 500px;
	height: 500px;
	display: none;
	position: fixed;
	top: 200px;
	left: 300px;
}

#phpinfo_window{
	background-color: #34495e
}

.img-close{
	width: 20px;
	height: 20px;
	margin: 3px;
	float: left;
}

.window iframe {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.windowcontent{
	height: 470px;
	width: 490px;
	margin: 5px;
	background-color: white;
	overflow: auto;
}

/* Gallery */

#gallery {
	height: 100%;
	background-color:rgba(255,255,255,0.8);
}

/* Drop Gallery*/
#drop-info {
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
	position: absolute;
    display: none;
    z-index: 5;
    margin: 25 2 2 2;
}

#drop-info p {
	border: 10px dashed white;
	border-radius: 30px;
	color: white;
	font-size: 200%;
	margin: 100px;
	padding: 100px;
}

#drop-content {
	position: center;
}

/*#gallery_window{
	background-color:#d35400;
	opacity: 0.7;
}*/

.gallery-thumbnail{
	height:200px;
	width:200px;
	display:inline;
	margin: 10px;
	padding:3px;
	position: relative;
}

.thumbnail-close{
	width:30px;
	height:30px;
	position:relative;
	visibility:hidden;
	float:left;
	left:5%;
	background-color: #bdc3c7;
	z-index: 10;
	opacity: 0.7;
	border-radius: 5px;
}

.gallery-thumbnail:hover .thumbnail-close{
  visibility:visible;
}

.thumbnail-content{
	height:150px;
	width:150px;
	display:inline;
	margin: 10px;
	border-radius: 10px;
	float:left;
	position: relative;
}

/* fancy box */

.fancybox-nav {
	top: initial;
	bottom: 0;
	height: 90%;
}

.fancybox-nav:link {
	background: none;
}

.fancybox-close:link {
	background-color: transparent;
}

.fancybox-image {
	height: 80%;
}

.fancy-overlay {
	position: absolute;
	width: 90%;
	bottom: 0;
	padding: 0 5%;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	z-index: 100000;
}

.fancy-overlay img {
	padding: 1%;
	max-width: 30px;
	max-height: 30px;
	
}

.fancy-overlay-edit {
	left: 200px;
	padding: 1%;
	max-width: 30px;
	max-height: 30px;
	text-align: center;
	z-index: 100000;
	bottom: 0;
}
